# http://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,rst,ini}]
indent_style = space
indent_size = 4

[*.py]
line_length = 120
known_first_party = src,config,idl
known_django = django
multi_line_output = 3
sections = FUTURE,STDLIB,DJANGO,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
default_section = THIRDPARTY
recursive = true
skip = .venv/,idl/
skip_glob = **/migrations/*.py
include_trailing_comma = true
force_grid_wrap = 0
force_alphabetical_sort_within_sections = true
use_parentheses = true

[*.{html,css,scss,json,yaml,yml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[Dockerfile]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
